html, body {
  margin: 0;
  padding: 0;
}

.headline {
  max-width: 600px;
  margin: 30px auto 20px auto;
  font-family: Helvetica, Arial, Sans-Serif;
  color: #222;
  font-size: 48px;

}

.subhead {
  max-width: 600px;
  margin: 0px auto 20px auto;
  color: #222;
  font-size: 24px;
  font-family: Helvetica, Arial, Sans-Serif;
}

h2.subhead {
  margin-top: 40px;
}

.story-body  .byline {
  max-width: 600px;
  margin: 0px auto 20px auto;
  color: #222;
  font-size: 14px;
  font-family: Helvetica, Arial, Sans-Serif;
}

.story-body .credit {
  max-width: 600px;
  margin: 10px auto 20px auto;
  color: #666;
  font-size: 13px;
  font-family: Helvetica, Arial, Sans-Serif;
}

.story-body p {
  max-width: 600px;
  font-size: 18px;
  font-family: Georgia, Times, Serif;
  line-height: 1.6em;
  color: #4a4a4a;
  margin: 0px auto 20px auto;
}

.chart.placeholder {
  height: 400px;
  background: #eee;
  position: relative;
}

.chart.placeholder:before {
  content: 'Chart goes here';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #999;
  font-size: 20px;
  font-family: Helvetica, Arial, Sans-Serif;
}

.chart { 
  width: 100%;
}

.domain {
  display: none;
}

.tick line {
  stroke: #ccc;

}

.tick text {
  fill: #999;
  font-family: Avenir;
  text-align: center;
}

.hover {
  stroke: #000;
  stroke-width: 2;
}

h1 {
    font-family: Avenir, sans-serif;
}

.mark: hover {
  cursor: pointer;
  fill-opacity: 0.5;
  fill: red;
  stroke: #ccc;
  stroke-width: 0.8;
}

<<<<<<< HEAD
=======
.mark: hover {
  fill-opacity: 0.5;
}

>>>>>>> bab9dc61025690c0b9d24d4ed90e4ab00f183e65
#tooltip {
  pointer-events: none;
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  font-family: Avenir; 
}

#nav a {
  cursor: pointer;
  color: white;
  font-family: Avenir;
  font-size: 14px;
  background-color: grey;
  padding: 7px;
  border-radius: 10px;
  text-decoration: none;
}

#chart-1 {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.countries {
  fill: #eee;
  stroke: #ddd;
}

#chart-2 {
  margin-left: auto
  margin-right: auto;
  width: 600px;
}

.death-circle {
  cursor: pointer;
<<<<<<< HEAD
  fill-opacity: 0.8;
=======
  fill: red;
  fill-opacity: 0.5;
>>>>>>> bab9dc61025690c0b9d24d4ed90e4ab00f183e65
  stroke: #f00;
}

.death-circle: hover {
  fill-opacity: 0.8;
}
